.floating-navbar {
    width: 80%; /* Set navbar width to 80% */
    left: 50%;
    transform: translateX(-50%); /* Center the navbar */
    z-index: 1000; /* Ensure it stays above other content */
    border-radius: 15px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    position: fixed; /* Initially fixed to float over the carousel */
    top: 20px; /* Initial position */
    background-color: rgba(255, 255, 255, 0.95); /* Background color for visibility */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, top 0.3s ease; /* Smooth transition for top */
}

.floating-navbar.sticky {
    position: fixed; /* Keep fixed */
    top: 0; /* Stick to the top */
    width: 100%; /* Full width */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Shadow effect when sticky */
    border-radius: 0; /* Remove rounded edges for full width */
}

.floating-navbar:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Slight change on hover */
}

.floating-navbar #navbarCollapse .nav-item:last-child {
    margin-right: 25px;
}

.navbar-dark .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.55); /* Adjust this for better visibility */
    /* Optionally remove the background-image if not needed */
}

@media (max-width: 768px) {
    .floating-navbar {
        width: 90%;
    }

    .floating-navbar .dropdown-menu {
        background-color: #000000b5;
    }

    .floating-navbar #navbarCollapse .nav-item {
        margin-left: 20px;
    }

    .navbar-toggler {
        display: block; /* Ensure it's visible on mobile */
    }
}