.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: auto;
    touch-action: auto;
}
.owl-text-overlay {
    position: absolute;
    text-align: center;
    width: 60%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}
h2.owl-title {
    margin: 20px;
    color: whitesmoke;
    font-weight: bold;
}